.DS_Store
/.bundle/
/.yardoc
/_yardoc/
/coverage/
/pkg/
/spec/reports/
*.log
*.gem
*.csv#
/tmp/
.byebug_history
jard_errors.txt

# rspec failure tracking
.rspec_status

# data to ignore
/data/configs
/data/profile_config.yaml
/data/comparisons/private
/data/config_holder/private
/data/mappers_holder/private
/data/templates_holder/private
/data/configs/*.json
/data/tmp/
/data/config_holder/temp/
/vendor/cspace_hosted_instance_access/
