name: CI

permissions:
  contents: read

on: [pull_request]

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['3.2', '3.3']
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}

      - name: Configure bundle
        run: bundle config unset deployment

      - name: Install dependencies
        run: bundle install

      - name: Lint
        run: |
          bundle exec rubocop

      - name: Run tests
        run: |
          bundle exec rake
